#main {
  height:100%;
  width:970px;
  position:absolute;
  top:0;
  left:50%;
  padding:76px 0px 70px;
  margin-left:-485px;
}
nav {
  z-index:1000;
}
.navbar-footer{
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
  width: 100%;
}
.container {
  width: 970px !important;
  padding:0px;
}
html, body{
  height: 100%;
  margin: 0px;
  padding: 0px
}

.navbar-header {
  position:relative;
  width:100%;
}
#map-canvas {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.form-inline .pac-input {
  text-overflow: ellipsis;
  width: 224px;
}

.form-inline a {
  margin-left: 10px;
  padding:6px 24px;
}

.form-inline .form-group,
.form-inline .form-control {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.pac-input:focus {
  border-color: #4d90fe;
} 

.pac-container {
  font-family: Roboto;
}
li {
  cursor:pointer;
}
.col-left {
  width:60%;
  float:left;
  display:block;
  height:100%;
  position:relative;
}
.col-right {
  width:40%;
  float:right;
  display:block;
  height:100%;
  position:relative;
  padding-left:20px;
  overflow-y:scroll;
}
.progress {
  display:none;
  position:absolute;
  right:0px;
  width: 230px;
  top: 15px;
}
.search-form {
  margin:10px 0px;
}

.search-form label {
  font-weight: normal;
}

.welcome nav,
.welcome #main {
  display:none;
}


#infowindow {
  padding-top:8px;
  max-width:450px;
}
#infowindow img{
  max-width:120px;
}
#infowindow h4 {
  margin-top:0px;
  margin-bottom:7px;
}
footer {
  text-align:center;
  padding-top:14px;
}

#welcome {
  position:relative;
  z-index:1000;
  width:50%;
  margin:150px auto 0;
}