.container {
  width:970px !important;
}
#main {
  height:100%;
  width:970px;
  position:absolute;
  top:0;
  padding:76px 0px 70px;
}
@media (min-width: 970px) {
  #main {
    position:absolute;
    left:50%;
    margin-left:-485px;
  }
}
nav {
  z-index:1000;
}
a {
  color: #02749c;
}
.navbar-top {
 background:#f4f4f4; 
}
.navbar-top .container {
  padding:0px;
}
.navbar-footer{
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
  width: 100%;
}
body{
  height: 100%;
  margin: 0px;
  padding: 0px
}

.navbar-header {
  position:relative;
  width:100%;
}
#map-canvas {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

nav form .pac-input {
  text-overflow: ellipsis;
  width: 224px;
}

nav form a {
  margin-left: 10px;
  padding:6px 24px;
}

nav form .form-group,
nav form .form-control {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.pac-input:focus {
  border-color: #4d90fe;
} 
li {
  cursor:pointer;
}
.col-left {
  width:60%;
  float:left;
  display:block;
  height:100%;
  position:relative;
}
.col-right {
  width:40%;
  float:right;
  display:block;
  height:100%;
  position:relative;
  padding-left:20px;
  overflow-y:scroll;
}
.progress {
  display:none;
  position:absolute;
  right:0px;
  width: 250px;
  top: 19px;
}
.search-form {
  margin:10px 0px;
}

.search-form label {
  font-weight: normal;
}
.welcome {
  background:#f4f4f4;
}
.welcome nav,
.welcome #main {
  display:none;
}

.welcome .search-form label {
  font-size:18px;
  margin-bottom:10px;
}
.welcome .form-group {
  margin-bottom:5px;
}
.welcome .btn {
  margin-top:15px;
  padding: 14px 26px;
  font-size: 17px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.welcome .form-control {
  font-size:15px;
}

.well {
  background:white;
}
.jumbotron p {
  margin-bottom: 5px;
  line-height: 1.6;
}

#infowindow {
  padding-top:8px;
  max-width:450px;
}
#infowindow img{
  max-width:120px;
}
#infowindow h4 {
  margin-top:0px;
  margin-bottom:7px;
}
footer {
  text-align:center;
  padding:15px;
}

#welcome {
  margin-top:10%;
}

.form-control::-webkit-input-placeholder { color: #999; }
.form-control:-moz-placeholder { color: #999; }
.form-control::-moz-placeholder { color: #999; }
.form-control:-ms-input-placeholder { color: #999; }