html, body{
  height: 100%;
  margin: 0px;
  padding: 0px
}

.navbar-header {
  width:100%;
  position:relative;
}
#map-canvas {
  height:520px;
  width:100%;
}

.form-inline .pac-input {
  text-overflow: ellipsis;
  width: 224px;
}

.form-inline a {
  margin-left: 10px;
  padding:6px 24px;
}

.pac-input:focus {
  border-color: #4d90fe;
} 

.pac-container {
  font-family: Roboto;
}
li {
  cursor:pointer;
}
.col-right {
  height: 520px;
  overflow-y:scroll;
}
.progress {
  display:none;
  position:absolute;
  right:0px;
  width: 360px;
  top: 15px;
}
.search-form {
  margin:10px 0px;
}

.search-form label {
  font-weight: normal;
}

#infowindow {
  padding-top:8px;
  max-width:500px;
}
#infowindow img{
  max-width:120px;
}
#infowindow h4 {
  margin-top:0px;
  margin-bottom:7px;
}